.animation{
  margin: auto;
  text-align: center;
  height: 60%;
  width: 75%;
  color: white;
}

.anim{
  display: flex;
  justify-content: center;
}

.anim h1{
  font-size: 2.5rem;
  font-weight: normal;
}
.animation h3{
  font-size: 2rem;
}